# Logs
*.log

# Frontend
**/node_modules/
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
.npm
**/webpack-stats.json

# Cache
.eslintcache
.cache
__pycache__/
*.py[cod]

# Configs
.env

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Translations
*.mo
*.pot

# Django stuff:
db.sqlite3
staticfiles

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.sln
*.sw?
*.*~
*.bak
*.swp

# virtualenv
.venv
